* {
  box-sizing: border-box;
}
body {
  min-width: 250px;
  background-color: cornflowerblue;
}
.btndelete {
  background-color: transparent;
  color: red;
  outline: none;
  border: none;
  font-size: 15px;
}
.imgStyle {
  height: 50%;
  object-fit: 80%;
  object-position: center;
}
.card {
  overflow: hidden;
  background-color: palegoldenrod;
}
#spinner {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
@media screen and ((min-width: 1400px)) {
  .card {
    width: 281px;
  }
}
@media screen and ((max-width: 575px)) {
  .card {
    max-width: 281px;
  }
  .col {
    display: flex;
    justify-content: center !important;
  }
}
